body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  color: white; 
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: white;
}
