
.layout {
    display: flex;
    height: 230px;
    /* 프로필에 맞춰서 수정 권장 */
    background-color: #000;
}

.sidebar {
    width: 225px;
    background-color: #616161;
    padding: 20px;
    color: #e2e6ea;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    color: #00F438;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* 프로필 이미지 박스 */
.profile-image-container {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 15px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #fff;
  object-fit: cover;
}

/* input 숨기고 이미지 클릭으로 작동 */
.upload-input {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

/* 오른쪽 정보 */
.sidenav-info-box {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* input 필드 */
.input-field {
  padding: 8px;
  margin: 10px 0;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}

/* 버튼 정렬 */
.button-group {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

/* 저장/취소 버튼 공통 */
.edit-btn-m,
.cancel-btn-m {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.edit-btn-m {
  background-color: #646464 !important;
  color: white;
}

.cancel-btn-m {
  background-color: #ccc;
  color: black;
}

.edit-btn-m:hover {
  background-color: rgb(0, 208, 40);
}

.cancel-btn-m:hover {
  background-color: #888;
}
